.popup__opened {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* padding: 200px 84px 0; */
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  .popup__opened {
    height: 322px;
    width: 282px;
    border-radius: 10px;
    margin: 0 auto;
    top: 128px;
  }
}
