.elements__cell-like-counter {
  font-size: 13px;
  line-height: 16px;
  text-align: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  width: 100%;
  margin: 0px 0px auto -8px;
}
